@media (min-width:1100px){

    span.logo img {
        width: 15%;
        padding: 15px;
    }
    .hero-img {
        width: 50%!important;
        float: left;
        margin-left: 0%!important;
      }
      
      .main-wrap {
        display: flex;
        align-items: center;
        padding-top: 120px!important;
      }
      
      .hero-img img {
        width: 50%!important;
        border-radius: 100px 0px!important;
        border-left-color: tomato!important;
        border: solid 2px;
        border-right-color: green;
        border-top-color: #fff;
        border-bottom-color: blue;
        border-left-style: dashed;
        border-right-style: dashed;
      }
      .main-title {
        line-height: 40px!important;
        color: #fff;
        font-size: 15px!important;
        background: #dddddd38;
        padding: 20px!important;
        text-align: center;
        font-weight: 700;
        font-family: cursive;
        box-sizing: border-box;
        box-shadow: 1px 0px 15px 9px #587088;
        bottom: 40%!important;
      }
      .project-complete {
        width: 45%;
        float: left;
        color: #fff;
        padding-top: 27px;
    }
    .project-box {
        float: left;
        border: solid 1px #524c4c;
        padding: 20px;
        width: 32%;
        /* position: relative; */
        margin-bottom: 15px;
        margin-right: 18px;
    }
    .project-count h1 {
        font-size: 40px;
        color: #FFB400;
    }
    .project--des p {
        font-size: 13px;
        line-height: 25px;
        text-align: center;
    }
    
}


@media (max-width:1100px){
  
    span.logo img {
        width: 20%;
        padding: 15px;
    }
    .name-details ul li {
        width: 42%;
        float: left;
        line-height: 33px;
        color: #ffffffb5;
        font-family: monospace;
        font-size: 10px;
    }
    .project-complete {
        width: 45%;
        float: left;
        color: #fff;
        padding-top: 27px;
    }
    .project-box {
        float: left;
        border: solid 1px #524c4c;
        padding: 20px;
        width: 30%;
        /* position: relative; */
        margin-bottom: 15px;
        margin-right: 18px;
    }
    .project-complete {
        width: 45%;
        float: left;
        color: #fff;
        padding-top: 27px;
    }
    .project-count h1 {
        font-size: 35px;
        color: #FFB400;
    }
    .project--des p {
        font-size: 12px;
        line-height: 25px;
        text-align: center;
    }
}




/*-------------------------------*/




@media(max-width: 991px){
    .main-title {
        line-height: 35px;
        color: rgb(255, 254, 254);
        font-size: 11px;
        background: #dddddd38;
        padding: 20px;
        text-align: center;
        font-weight: 700;
        font-family: cursive;
        box-sizing: border-box;
        box-shadow: 1px 0px 15px 9px #587088;
    }
    .hero-img img {
        width: 62%;
        border-radius: 62px 0px;
        border-left-color: tomato!important;
        border: solid 2px;
        border-right-color: green;
        border-top-color: #fff;
        border-bottom-color: blue;
        border-left-style: dashed;
        border-right-style: dashed;
    }
    .personal-info {
        width: 100%;
        float: left;
        padding: 20px;
        color: #fff;
        margin-right: 20px;
    }
    .name-details ul li {
        width: 42%;
        float: left;
        line-height: 33px;
        color: #ffffffb5;
        font-family: monospace;
        font-size: 15px;
    }
    .project-complete {
        width: 100%;
        float: left;
        color: #fff;
        padding-top: 27px;
    }
    .project-box {
        float: left;
        border: solid 1px #524c4c;
        padding: 20px;
        width: 40%;
        /* position: relative; */
        margin-bottom: 15px;
        margin-right: 18px;
    }
    .project-count h1 {
        font-size: 50px;
        color: #FFB400;
    }
    .project--des p {
        font-size: 20px;
        line-height: 25px;
        text-align: center;
    }
}



/*-------------------------------*/

@media(max-width: 775px){

}


/*-------------------------------*/


@media(max-width: 768px){
    span.logo img {
        width: 25%;
        padding: 16px;
    }
    .main-title {
        line-height: 22px;
        color: rgb(255, 255, 255);
        font-size: 8px;
        background: #dddddd38;
        padding: 20px;
        text-align: center;
        font-weight: 700;
        font-family: cursive;
        box-sizing: border-box;
        box-shadow: 1px 0px 15px 9px #587088;
    }
    .name-details ul li {
        width: 42%;
        float: left;
        line-height: 33px;
        color: #ffffffb5;
        font-family: monospace;
        font-size: 11px;
    }
    .project-box {
        float: left;
        border: solid 1px #524c4c;
        padding: 20px;
        width: 35%;
        /* position: relative; */
        margin-bottom: 15px;
        margin-right: 18px;
    }
}




/*-------------------------------*/

@media(max-width: 575px){
    span.logo img {
        width: 35%;
        padding: 16px;
    }
    .main-title {
        line-height: 22px;
        color: rgb(255, 255, 255);
        font-size: 6px;
        background: #dddddd38;
        padding: 20px;
        text-align: center;
        font-weight: 700;
        font-family: cursive;
        box-sizing: border-box;
        box-shadow: 1px 0px 15px 9px #587088;
    }
    .hero-img img {
        width: 75%;
        border-radius: 47px 0px;
        border-left-color: tomato!important;
        border: solid 2px;
        border-right-color: green;
        border-top-color: #fff;
        border-bottom-color: blue;
        border-left-style: dashed;
        border-right-style: dashed;
    }
    .name-details ul li {
        width: 100%;
        float: left;
        line-height: 33px;
        color: #ffffffb5;
        font-family: monospace;
        font-size: 15px;
    }
    .personal-info-title {
        padding: 15px 0px;
        text-align: center;
    }
    .project-box {
        float: left;
        border: solid 1px #524c4c;
        padding: 20px;
        width: 55%;
        /* position: relative; */
        /* margin-bottom: 15px; */
        margin-left: 20%;
    }
}



/*-------------------------------*/

@media(min-width: 575px){

}



/*-------------------------------*/

@media(max-width:450px){
    span.logo img {
        width: 35%;
        padding: 27px 0px;
    }
    .main-wrap {
        display: flex;
        align-items: center;
        padding-top: 95px;
    }
    .main-title {
        position: absolute;
        font-size: 9px;
        line-height: 28px;
        color: rgb(255, 255, 255);
        background: #dddddd38;
        padding: 20px;
        text-align: center;
        font-weight: 700;
        font-family: cursive;
        box-sizing: border-box;
        box-shadow: 1px 0px 15px 9px #587088;
        bottom: 25%;
        right: 25%;
    }
    .hero-img img {
        width: 80%;
        border-radius: 45px 0px;
        border-left-color: tomato!important;
        border: solid 2px;
        border-right-color: green;
        border-top-color: #fff;
        border-bottom-color: blue;
        border-left-style: dashed;
        border-right-style: dashed;
    }
    .hero-img {
        width: 55%;
        /* float: left; */
        margin-left: 20%;
       
    }
}



/*-------------------------------*/


@media(max-width:50px){

}

@media(min-height:600px){
    .hero-img {
        width: 55%;
        /* float: left; */
        margin-left: 23%;
    }
    .hero-img img {
        width: 100%;
        border-radius: 45px 0px;
        border-left-color: tomato!important;
        border: solid 2px;
        border-right-color: green;
        border-top-color: #fff;
        border-bottom-color: blue;
        border-left-style: dashed;
        border-right-style: dashed;
    }
    .main-title {
        position: absolute;
        font-size: 9px;
        line-height: 28px;
        color: #fff;
        background: #dddddd38;
        padding: 20px;
        text-align: center;
        font-weight: 700;
        font-family: cursive;
        box-sizing: border-box;
        box-shadow: 1px 0px 15px 9px #587088;
        bottom: 34%;
        right: 22%;
    }
    .main-wrap {
        display: flex;
        align-items: center;
        padding-top: 130px;
    }
}

/*-------------------------------*/
