@media (min-width:1100px){

    span.logo img {
        width: 15%;
        padding: 15px;
    }
}


@media (max-width:1100px){
  
    span.logo img {
        width: 20%;
        padding: 15px;
    }

}




/*-------------------------------*/




@media(max-width: 991px){
    .main-title {
        line-height: 35px;
        color: #000;
        font-size: 11px;
        background: #ddd;
        padding: 20px;
        text-align: center;
        font-weight: 700;
        font-family: cursive;
        box-sizing: border-box;
        box-shadow: 1px 0px 15px 9px #587088;
    }
    .hero-img img {
        width: 62%;
        border-radius: 62px 0px;
        border-left-color: tomato!important;
        border: solid 2px;
        border-right-color: green;
        border-top-color: #fff;
        border-bottom-color: blue;
        border-left-style: dashed;
        border-right-style: dashed;
    }
}



/*-------------------------------*/

@media(max-width: 775px){

}


/*-------------------------------*/


@media(max-width: 768px){
    span.logo img {
        width: 25%;
        padding: 16px;
    }
    .main-title {
        line-height: 22px;
        color: #000;
        font-size: 8px;
        background: #ddd;
        padding: 20px;
        text-align: center;
        font-weight: 700;
        font-family: cursive;
        box-sizing: border-box;
        box-shadow: 1px 0px 15px 9px #587088;
    }
}




/*-------------------------------*/

@media(max-width: 575px){
    span.logo img {
        width: 35%;
        padding: 16px;
    }
    .main-title {
        line-height: 22px;
        color: #000;
        font-size: 6px;
        background: #ddd;
        padding: 20px;
        text-align: center;
        font-weight: 700;
        font-family: cursive;
        box-sizing: border-box;
        box-shadow: 1px 0px 15px 9px #587088;
    }
    .hero-img img {
        width: 75%;
        border-radius: 47px 0px;
        border-left-color: tomato!important;
        border: solid 2px;
        border-right-color: green;
        border-top-color: #fff;
        border-bottom-color: blue;
        border-left-style: dashed;
        border-right-style: dashed;
    }
}



/*-------------------------------*/

@media(min-width: 575px){

}



/*-------------------------------*/

@media(max-width:450px){
    span.logo img {
        width: 35%;
        padding: 27px 0px;
    }
    .main-wrap {
        display: flex;
        align-items: center;
        padding-top: 95px;
    }
    .main-title {
        position: absolute;
        font-size: 9px;
        line-height: 28px;
        color: #000;
        background: #ddd;
        padding: 20px;
        text-align: center;
        font-weight: 700;
        font-family: cursive;
        box-sizing: border-box;
        box-shadow: 1px 0px 15px 9px #587088;
        bottom: 25%;
        right: 25%;
    }
    .hero-img img {
        width: 80%;
        border-radius: 45px 0px;
        border-left-color: tomato!important;
        border: solid 2px;
        border-right-color: green;
        border-top-color: #fff;
        border-bottom-color: blue;
        border-left-style: dashed;
        border-right-style: dashed;
    }
    .hero-img {
        width: 55%;
        /* float: left; */
        margin-left: 20%;
       
    }
}



/*-------------------------------*/


@media(max-width:50px){

}

@media(min-height:600px){
    .hero-img {
        width: 55%;
        /* float: left; */
        margin-left: 23%;
    }
    .hero-img img {
        width: 100%;
        border-radius: 45px 0px;
        border-left-color: tomato!important;
        border: solid 2px;
        border-right-color: green;
        border-top-color: #fff;
        border-bottom-color: blue;
        border-left-style: dashed;
        border-right-style: dashed;
    }
    .main-title {
        position: absolute;
        font-size: 9px;
        line-height: 28px;
        color: #000;
        background: #ddd;
        padding: 20px;
        text-align: center;
        font-weight: 700;
        font-family: cursive;
        box-sizing: border-box;
        box-shadow: 1px 0px 15px 9px #587088;
        bottom: 34%;
        right: 22%;
    }
    .main-wrap {
        display: flex;
        align-items: center;
        padding-top: 130px;
    }
}

/*-------------------------------*/
